.carouselFond{
   display: flex;
   position: absolute;
   transform: translate(13px, -25rem);

}

.canvas {
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 500px;
    min-height: 500px; /* Ajuste la hauteur en conséquence pour maintenir les proportions */
    max-width: 900px;
    z-index: 100;
    /* flex-grow: 1 ; */
  }

  @media screen  and (max-width: 415px) {
    .canvas{
      transform: scale(80%);
    }
  }

  }

  .character {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center bottom;
    position: absolute;
  }
  .character img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center bottom;
  }

  .canvas > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 500px; /* Ajuste la hauteur en conséquence pour maintenir les proportions */
  }

  .background > * {
    position: absolute;
    inset: 0;
  }

  .accessory-top > * {
    position: absolute;
    inset: 0;
  }

  .character > img{
    position: absolute;
    object-position: center bottom;
    inset: 0;
    object-position: bottom;
  }


  .slider{
    transition: transform 0.5s;
  }

  .slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }

  .accessory-top img{
    object-fit:contain;
  }

  .character img{
    object-fit:contain;
  }


  .slider > *:nth-child(1) {
    transform: translateX(0);
  }
  .slider > *:nth-child(2) {
    transform: translateX( 100%);
  }
  .slider > *:nth-child(3) {
    transform: translateX( 200%);
  }
  .slider > *:nth-child(4) {
    transform: translateX( 300%);
  }

  .slider > *:nth-child(5) {
    transform: translateX( 400%);
  }

  .slider > *:nth-child(6) {
    transform: translateX( 500%);
  }

  .slider > *:nth-child(7) {
    transform: translateX( 600%);
  }

  .slider > *:nth-child(8) {
    transform: translateX( 700%);
  }

  .slider > *:nth-child(9) {
    transform: translateX( 800%);
  }

  .slider > *:nth-child(10) {
    transform: translateX( 900%);
  }

  .slider > *:nth-child(11) {
    transform: translateX( 1000%);
  }

  .slider > *:nth-child(12) {
    transform: translateX( 1100%);
  }

  .slider > *:nth-child(13) {
    transform: translateX( 1200%);
  }

  .slider > *:nth-child(14) {
    transform: translateX( 1300%);
  }

  .slider > *:nth-child(15) {
    transform: translateX( 1400%);
  }

  .slider > *:nth-child(16) {
    transform: translateX( 1500%);
  }

  .slider > *:nth-child(17) {
    transform: translateX( 1600%);
  }

  .slider > *:nth-child(18) {
    transform: translateX( 1700%);
  }

  .slider > *:nth-child(19) {
    transform: translateX( 1800%);
  }
  .slider > *:nth-child(20) {
    transform: translateX( 1800%);
  }

  .slider > *:nth-child(21) {
    transform: translateX( 1900%);
  }

  .slider > *:nth-child(22) {
    transform: translateX( 2000%);
  }

  .slider > *:nth-child(23) {
    transform: translateX( 2100%);
  }

  .slider > *:nth-child(24) {
    transform: translateX( 2200%);
  }


input{
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



