.carouselFond{
   display: flex;
   position: absolute;
   transform: translate(13px, -25rem);

}

.canvas {
    overflow: hidden;
    position: relative;
    width: 100%;
    /* width: 300px;
    height: 400px; */
    max-width: 900px;
    z-index: 100;
    flex-grow: 1 ;
  }

  .character {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center bottom;
    position: absolute;
  }
  .character img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center bottom;
  }

  .canvas > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .background > * {
    position: absolute;
    inset: 0;
  }

  .accessory-top > * {
    position: absolute;
    inset: 0;
  }


  .slider{
    transition: transform 0.5s;
  }

  .slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }

  .accessory-top img{
    object-fit:contain;
  }


  .slider > *:nth-child(1) {
    left:  0%;
  }
  .slider > *:nth-child(2) {
    left: 100%;
  }
  .slider > *:nth-child(3) {
    left: 200%;
  }
  .slider > *:nth-child(4) {
    left: 300%;
  }

  .slider > *:nth-child(5) {
    left: 400%;
  }

  .slider > *:nth-child(6) {
    left: 500%;
  }

  .slider > *:nth-child(7) {
    left: 600%;
  }

  .slider > *:nth-child(8) {
    left: 700%;
  }

  .slider > *:nth-child(9) {
    left: 800%;
  }

  .slider > *:nth-child(10) {
    left: 900%;
  }

  .slider > *:nth-child(11) {
    left: 1000%;
  }

  .slider > *:nth-child(12) {
    left: 1100%;
  }

  .slider > *:nth-child(13) {
    left: 1200%;
  }

  .slider > *:nth-child(14) {
    left: 1300%;
  }

  .slider > *:nth-child(15) {
    left: 1400%;
  }

  .slider > *:nth-child(16) {
    left: 1500%;
  }

  .slider > *:nth-child(17) {
    left: 1600%;
  }

  .slider > *:nth-child(18) {
    left: 1700%;
  }

  .slider > *:nth-child(19) {
    left: 1800%;
  }
  .slider > *:nth-child(20) {
    left: 1800%;
  }

  .slider > *:nth-child(21) {
    left: 1900%;
  }

  .slider > *:nth-child(22) {
    left: 2000%;
  }

  .slider > *:nth-child(23) {
    left: 2100%;
  }

  .slider > *:nth-child(24) {
    left: 2200%;
  }


input{
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



